<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.lanhuhebi.elderly_group.dao.AreaDao">
    <select id="queryAllSheng" resultType="cn.lanhuhebi.elderly_group.model.pojo.Area">
        select * from area where area_level=1
    </select>
    <select id="queryAllXiaByShang" parameterType="java.lang.Integer"  resultType="cn.lanhuhebi.elderly_group.model.pojo.Area">
        SELECT * FROM AREA a, AREA b WHERE a.`areaid`=b.`parentid` AND a.`areaid`=#{areaid}
    </select>

</mapper>