<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanhuhebi.elderly_group.dao.CollectMapper">

    <insert id="insertequ" parameterType="java.util.List" useGeneratedKeys="false">
        insert into smartequ
        (euqId,binddate,flyId,eptId,eptType)
        values
        <foreach collection="list" index="index" item="item" separator=",">
        (
            #{item.euqId},
            #{item.binddate},
            #{item.flyId},
            #{item.eptId},
            #{item.eptType}
        )
        </foreach>
    </insert>

    <insert id="insertRateupdalog" parameterType="cn.lanhuhebi.elderly_group.model.pojo.Rateupdalog">
        insert into rateupdalog(uplog_operaDate,uplog_before,uplog_after,uplog_pre_id)
        values (#{uplogOperaDate},#{uplogBefore},#{uplogAfter},#{uplogPreId})
    </insert>

    <select id="hasEqu" resultType="int">

    </select>
    <select id="selectMaxUplogAfter" resultType="java.lang.String">
        select uplog_after from rateupdalog where uplog_operaDate = (
            select max(uplog_operaDate) from  rateupdalog
        )
    </select>
    <select id="selectAllRateupdalog" resultMap="rateupdalogMap">
        select * from rateupdalog
    </select>
    <resultMap id="rateupdalogMap" type="cn.lanhuhebi.elderly_group.model.pojo.Rateupdalog">
        <id column="uplog_id" property="uplogId"/>
        <result column="uplog_operaDate" property="uplogOperaDate"/>
        <result column="uplog_before" property="uplogBefore"/>
        <result column="uplog_after" property="uplogAfter"/>
        <result column="uplog_pre_id" property="uplogPreId"/>
    </resultMap>

</mapper>