<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanhuhebi.elderly_group.dao.EquipmentDao">

    <select id="getAllEquipment" resultMap="ept" statementType="STATEMENT">
        SELECT ept_id, ept_type, ept_facty, ept_model, ept_price, ept_stock FROM equipment
    </select>

    <insert id="addEquipment" parameterType="Equipment">
        INSERT INTO equipment VALUES (DEFAULT, #{eptType}, #{eptFacty}, #{eptModel}, #{eptPrice}, #{eptStock}, #{eptNum})
    </insert>

    <update id="updateStock" parameterType="Equipment">
        UPDATE equipment SET ept_stock = #{eptStock} WHERE ept_id = #{eptId}
    </update>
    
    <resultMap id="ept" type="Equipment">
        <result column="ept_id" property="eptId"/>
        <result column="ept_type" property="eptType"/>
        <result column="ept_facty" property="eptFacty"/>
        <result column="ept_model" property="eptModel"/>
        <result column="ept_price" property="eptPrice"/>
        <result column="ept_stock" property="eptStock"/>
        <result column="ept_num" property="eptNum"/>
    </resultMap>
</mapper>