<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanhuhebi.elderly_group.dao.FamilyDao">

    <select id="getFamilyById" resultType="cn.lanhuhebi.elderly_group.model.pojo.Family">
        select
                fly_id as flyId,
                fly_name as flyName,
                fly_area_id as flyAreaId,
                fly_phone as flyPhone,
                fly_IDcard as flyIDcard,
                fly_address as flyAddress,
                fly_doorNum as flyDoorNum,
                fly_birthday as flyBirthday,
                fly_ispoor as flyIspoor,
                fly_notes as flyNotes,
                fly_tem_id as flyTemId,
                fly_buldArea as flyBuldArea,
                fly_heatArea as flyHeatArea,
                fly_status as flyStatus,
                fly_purse_id as flyPurseId,
                fly_data1 as flyData1,
                fly_data2 as flyData2,
                fly_data3 as flyData3,
                fly_data4 as flyData4,
                fly_data5 as flyData5,
                fly_data6 as flyData6
        from family
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <insert id="addFamily" parameterType="cn.lanhuhebi.elderly_group.model.pojo.Family">
        insert into family(
                    fly_id,
                    fly_name,
                    fly_area_id,
                    fly_phone,
                    fly_IDcard,
                    fly_address,
                    fly_doorNum,
                    fly_birthday,
                    fly_ispoor,
                    fly_notes,
                    fly_tem_id,
                    fly_buldArea,
                    fly_heatArea,
                    fly_status,
                    fly_purse_id,
                    fly_data1,
                    fly_data2,
                    fly_data3,
                    fly_data4,
                    fly_data5,
                    fly_data6)
        values(
                    #{flyId},
                    #{flyName},
                    #{flyAreaId},
                    #{flyPhone},
                    #{flyIDcard},
                    #{flyAddress},
                    #{flyDoorNum},
                    #{flyBirthday},
                    #{flyIspoor},
                    #{flyNotes},
                    #{flyTemId},
                    #{flyBuldArea},
                    #{flyHeatArea},
                    #{flyStatus},
                    #{flyPurseId},
                    #{flyData1},
                    #{flyData2},
                    #{flyData3},
                    #{flyData4},
                    #{flyData5},
                    #{flyData6})
    </insert>

    <update id="updateFamily" parameterType="cn.lanhuhebi.elderly_group.model.pojo.Family">
        update family
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="flyId != null and flyId!=''">
                            fly_id=#{flyId},
                        </if>
                        <if test="flyName != null and flyName!=''">
                            fly_name=#{flyName},
                        </if>
                        <if test="flyAreaId != null and flyAreaId!=''">
                            fly_area_id=#{flyAreaId},
                        </if>
                        <if test="flyPhone != null and flyPhone!=''">
                            fly_phone=#{flyPhone},
                        </if>
                        <if test="flyIDcard != null and flyIDcard!=''">
                            fly_IDcard=#{flyIDcard},
                        </if>
                        <if test="flyAddress != null and flyAddress!=''">
                            fly_address=#{flyAddress},
                        </if>
                        <if test="flyDoorNum != null and flyDoorNum!=''">
                            fly_doorNum=#{flyDoorNum},
                        </if>
                        <if test="flyBirthday != null and flyBirthday!=''">
                            fly_birthday=#{flyBirthday},
                        </if>
                        <if test="flyIspoor != null and flyIspoor!=''">
                            fly_ispoor=#{flyIspoor},
                        </if>
                        <if test="flyNotes != null and flyNotes!=''">
                            fly_notes=#{flyNotes},
                        </if>
                        <if test="flyTemId != null and flyTemId!=''">
                            fly_tem_id=#{flyTemId},
                        </if>
                        <if test="flyBuldArea != null and flyBuldArea!=''">
                            fly_buldArea=#{flyBuldArea},
                        </if>
                        <if test="flyHeatArea != null and flyHeatArea!=''">
                            fly_heatArea=#{flyHeatArea},
                        </if>
                        <if test="flyStatus != null and flyStatus!=''">
                            fly_status=#{flyStatus},
                        </if>
                        <if test="flyPurseId != null and flyPurseId!=''">
                            fly_purse_id=#{flyPurseId},
                        </if>
                        <if test="flyData1 != null and flyData1!=''">
                            fly_data1=#{flyData1},
                        </if>
                        <if test="flyData2 != null and flyData2!=''">
                            fly_data2=#{flyData2},
                        </if>
                        <if test="flyData3 != null and flyData3!=''">
                            fly_data3=#{flyData3},
                        </if>
                        <if test="flyData4 != null and flyData4!=''">
                            fly_data4=#{flyData4},
                        </if>
                        <if test="flyData5 != null and flyData5!=''">
                            fly_data5=#{flyData5},
                        </if>
                        <if test="flyData6 != null and flyData6!=''">
                            fly_data6=#{flyData6}
                        </if>
        </trim>
    </update>

    <delete id="delFamilyById" parameterType="String">
        delete from family where id = #{id}
    </delete>

</mapper>