<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanhuhebi.elderly_group.dao.FeedbackDao">

    <select id="getFeedbackById" resultType="cn.lanhuhebi.elderly_group.model.pojo.Feedback">
        select
                fbk_id as fbkId,
                fbk_person as fbkPerson,
                fbk_phone as fbkPhone,
                fbk_name as fbkName,
                fbk_data1 as fbkData1,
                fbk_data2 as fbkData2,
                fbk_data3 as fbkData3,
                fbk_data4 as fbkData4,
                fbk_data5 as fbkData5,
                fbk_data6 as fbkData6,
                fbk_creaDate as fbkCreaDate
        from feedback
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <insert id="addFeedback" parameterType="cn.lanhuhebi.elderly_group.model.pojo.Feedback">
        insert into feedback(
                    fbk_id,
                    fbk_person,
                    fbk_phone,
                    fbk_name,
                    fbk_data1,
                    fbk_data2,
                    fbk_data3,
                    fbk_data4,
                    fbk_data5,
                    fbk_data6,
                    fbk_creaDate)
        values(
                    #{fbkId},
                    #{fbkPerson},
                    #{fbkPhone},
                    #{fbkName},
                    #{fbkData1},
                    #{fbkData2},
                    #{fbkData3},
                    #{fbkData4},
                    #{fbkData5},
                    #{fbkData6},
                    #{fbkCreaDate})
    </insert>

    <update id="updateFeedback" parameterType="cn.lanhuhebi.elderly_group.model.pojo.Feedback">
        update feedback
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="fbkId != null and fbkId!=''">
                            fbk_id=#{fbkId},
                        </if>
                        <if test="fbkPerson != null and fbkPerson!=''">
                            fbk_person=#{fbkPerson},
                        </if>
                        <if test="fbkPhone != null and fbkPhone!=''">
                            fbk_phone=#{fbkPhone},
                        </if>
                        <if test="fbkName != null and fbkName!=''">
                            fbk_name=#{fbkName},
                        </if>
                        <if test="fbkData1 != null and fbkData1!=''">
                            fbk_data1=#{fbkData1},
                        </if>
                        <if test="fbkData2 != null and fbkData2!=''">
                            fbk_data2=#{fbkData2},
                        </if>
                        <if test="fbkData3 != null and fbkData3!=''">
                            fbk_data3=#{fbkData3},
                        </if>
                        <if test="fbkData4 != null and fbkData4!=''">
                            fbk_data4=#{fbkData4},
                        </if>
                        <if test="fbkData5 != null and fbkData5!=''">
                            fbk_data5=#{fbkData5},
                        </if>
                        <if test="fbkData6 != null and fbkData6!=''">
                            fbk_data6=#{fbkData6},
                        </if>
                        <if test="fbkCreaDate != null and fbkCreaDate!=''">
                            fbk_creaDate=#{fbkCreaDate}
                        </if>
        </trim>
    </update>

    <delete id="delFeedbackById" parameterType="String">
        delete from feedback where id = #{id}
    </delete>

</mapper>