<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanhuhebi.elderly_group.dao.InstallDao">

    <select id="getInstallById" resultType="cn.lanhuhebi.elderly_group.model.pojo.Install">
        select
                ill_id as illId,
                ill_fly_id as illFlyId,
                ill_or_id as illOrId,
                ill_dist_id as illDistId,
                ill_installDate as illInstallDate,
                ill_status as illStatus
        from install
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <insert id="addInstall" parameterType="cn.lanhuhebi.elderly_group.model.pojo.Install">
        insert into install(
                    ill_id,
                    ill_fly_id,
                    ill_or_id,
                    ill_dist_id,
                    ill_installDate,
                    ill_status)
        values(
                    #{illId},
                    #{illFlyId},
                    #{illOrId},
                    #{illDistId},
                    #{illInstallDate},
                    #{illStatus})
    </insert>

    <update id="updateInstall" parameterType="cn.lanhuhebi.elderly_group.model.pojo.Install">
        update install
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="illId != null and illId!=''">
                            ill_id=#{illId},
                        </if>
                        <if test="illFlyId != null and illFlyId!=''">
                            ill_fly_id=#{illFlyId},
                        </if>
                        <if test="illOrId != null and illOrId!=''">
                            ill_or_id=#{illOrId},
                        </if>
                        <if test="illDistId != null and illDistId!=''">
                            ill_dist_id=#{illDistId},
                        </if>
                        <if test="illInstallDate != null and illInstallDate!=''">
                            ill_installDate=#{illInstallDate},
                        </if>
                        <if test="illStatus != null and illStatus!=''">
                            ill_status=#{illStatus}
                        </if>
        </trim>
    </update>

    <delete id="delInstallById" parameterType="String">
        delete from install where id = #{id}
    </delete>

</mapper>