<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.lanhuhebi.elderly_group.dao.OrderDao">

    <insert id="addOrder" parameterType="cn.lanhuhebi.elderly_group.model.pojo.Order">
        insert into `order` (or_id,or_ept_id,or_ept_num,or_ept_price,or_purse_id)values (default ,#{orEptId},#{orEptNum},#{orEptPrice},#{orPurseId})
    </insert>
</mapper>