<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanhuhebi.elderly_group.dao.RoleDao">

    <select id="getRoleById" resultType="cn.lanhuhebi.elderly_group.model.pojo.Role">
        select
                role_id as roleId,
                role_name as roleName
        from role
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <insert id="addRole" parameterType="cn.lanhuhebi.elderly_group.model.pojo.Role">
        insert into role(
                    role_id,
                    role_name)
        values(
                    #{roleId},
                    #{roleName})
    </insert>

    <update id="updateRole" parameterType="cn.lanhuhebi.elderly_group.model.pojo.Role">
        update role
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="roleId != null and roleId!=''">
                            role_id=#{roleId},
                        </if>
                        <if test="roleName != null and roleName!=''">
                            role_name=#{roleName}
                        </if>
        </trim>
    </update>

    <delete id="delRoleById" parameterType="String">
        delete from role where id = #{id}
    </delete>

</mapper>