<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanhuhebi.elderly_group.dao.SwitchesDao">

    <select id="getSwitchesById" resultType="cn.lanhuhebi.elderly_group.model.pojo.Switches">
        select
                sh_id as shId,
                sh_num as shNum,
                sh_rate_id as shRateId,
                sh_status as shStatus
        from switches
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <insert id="addSwitches" parameterType="cn.lanhuhebi.elderly_group.model.pojo.Switches">
        insert into switches(
                    sh_id,
                    sh_num,
                    sh_rate_id,
                    sh_status)
        values(
                    #{shId},
                    #{shNum},
                    #{shRateId},
                    #{shStatus})
    </insert>

    <update id="updateSwitches" parameterType="cn.lanhuhebi.elderly_group.model.pojo.Switches">
        update switches
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="shId != null and shId!=''">
                            sh_id=#{shId},
                        </if>
                        <if test="shNum != null and shNum!=''">
                            sh_num=#{shNum},
                        </if>
                        <if test="shRateId != null and shRateId!=''">
                            sh_rate_id=#{shRateId},
                        </if>
                        <if test="shStatus != null and shStatus!=''">
                            sh_status=#{shStatus}
                        </if>
        </trim>
    </update>

    <delete id="delSwitchesById" parameterType="String">
        delete from switches where id = #{id}
    </delete>

</mapper>