<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.lanhuhebi.elderly_group.dao.TeamDao">
    <select id="queryAllTeam" resultMap="team">
        SELECT t.`tem_id`,t.`tem_name` FROM team  t ORDER BY tem_id
    </select>
    <resultMap id="team" type="cn.lanhuhebi.elderly_group.model.pojo.Team">
        <id property="temId" column="tem_id"/>
        <result property="temName" column="tem_name"/>
        <result property="temLead" column="tem_lead"/>
        <result property="temCreaDate" column="tem_creaDate"/>
        <result property="temCreator" column="tem_creator"/>
    </resultMap>

    <select id="queryAllTeamLeader" resultType="cn.lanhuhebi.elderly_group.model.pojo.Personnel">
        SELECT pre_id as preId,pre_name as preName FROM personnel WHERE pre_role_id=2 and pre_status = 1
    </select>

    <select id="queryAllInformationer" resultType="cn.lanhuhebi.elderly_group.model.pojo.Personnel">
        SELECT pre_id AS preId,pre_name AS preName FROM personnel WHERE pre_id NOT IN
        (SELECT mem_mem FROM member) AND pre_role_id=3 and pre_status = 1
    </select>

    <select id="queryAllWarehouseManager" resultType="cn.lanhuhebi.elderly_group.model.pojo.Personnel">
        SELECT pre_id AS preId,pre_name AS preName FROM personnel WHERE pre_id NOT IN
        (SELECT mem_mem FROM member) AND pre_role_id=5 and pre_status = 1
    </select>

    <select id="queryAllInstaller" resultType="cn.lanhuhebi.elderly_group.model.pojo.Personnel">
        SELECT pre_id AS preId,pre_name AS preName FROM personnel WHERE pre_id NOT IN
        (SELECT mem_mem FROM member) AND pre_role_id=4 and pre_status = 1
    </select>

    <select id="queryAllTeamVO" resultMap="teamList">
        SELECT tem_id,tem_name,p1.pre_name AS leader,
        tem_creaDate,p2.pre_name AS creator,p3.pre_name AS member 
        FROM team 
        LEFT JOIN personnel p1 ON tem_lead=p1.pre_id
        LEFT JOIN personnel p2 ON tem_creator=p2.pre_id
        LEFT JOIN member ON tem_id=mem_tem_id
        LEFT JOIN personnel p3 ON mem_mem=p3.pre_id
        ORDER BY tem_creaDate desc
    </select>
    <resultMap id="teamList" type="cn.lanhuhebi.elderly_group.model.dto.TeamListVO">
        <id property="tid" column="tem_id"/>
        <result property="tname" column="tem_name"/>
        <result property="leader" column="leader"/>
        <result property="createTime" column="tem_creaDate"/>
        <result property="creator" column="creator"/>
        <collection property="member"  ofType="cn.lanhuhebi.elderly_group.model.pojo.Personnel">
            <result property="preName" column="member"/>
        </collection>
    </resultMap>

    <insert id="addTeamTable">
        insert into team(tem_name,tem_lead,tem_creator,tem_creaDate)
        values (#{tem_name},#{tem_lead},#{tem_creator},sysdate())
    </insert>

    <update id="updTeamTable">
        update team set tem_name=#{tem_name},
        tem_lead=#{tem_lead},
        tem_creator=#{tem_creator},
        tem_creaDate=sysdate()
        where tem_id=#{tem_id}
    </update>

    <select id="getTeamIdByCreateDate" resultType="int">
        select tem_id from team order by tem_creaDate desc limit 1
    </select>

    <insert id="addMember">
        insert into member(mem_mem,mem_tem_id)
        values (#{mem_mem},#{mem_tem_id})
    </insert>

    <delete id="delMember">
        delete from member where mem_tem_id=#{mem_tem_id}
    </delete>

    <select id="getTeamById" parameterType="int" resultType="cn.lanhuhebi.elderly_group.model.pojo.Team">
        SELECT tem_id as temId,tem_name as temName,tem_lead as temLead FROM team WHERE tem_id=#{tem_id}
    </select>

    <select id="getInformationerByTeamId" parameterType="int" resultType="cn.lanhuhebi.elderly_group.model.pojo.Personnel">
        SELECT mem_mem as preId,pre_name as preName FROM member
        RIGHT JOIN personnel ON mem_mem=pre_id AND pre_role_id=3
        WHERE mem_tem_id=#{mem_tem_id}
    </select>

    <select id="getWarehouseManagerByTeamId" parameterType="int" resultType="cn.lanhuhebi.elderly_group.model.pojo.Personnel">
        SELECT mem_mem as preId,pre_name as preName FROM member
        RIGHT JOIN personnel ON mem_mem=pre_id AND pre_role_id=5
        WHERE mem_tem_id=#{mem_tem_id}
    </select>

    <select id="getInstallerByTeamId" parameterType="int" resultType="cn.lanhuhebi.elderly_group.model.pojo.Personnel">
        SELECT mem_mem as preId,pre_name as preName FROM member
        RIGHT JOIN personnel ON mem_mem=pre_id AND pre_role_id=4
        WHERE mem_tem_id=#{mem_tem_id}
    </select>


</mapper>