<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanhuhebi.elderly_group.dao.TeamLiblogDao">

    <select id="getTeamLiblogById" resultType="cn.lanhuhebi.elderly_group.model.pojo.TeamLiblog">
        select
                tem_lib_id as temLibId,
                tem_lib_type as temLibType,
                tem_lib_creaDate as temLibCreaDate,
                tem_lib_operator as temLibOperator,
                tem_lib_ept_id as temLibEptId,
                tem_lib_num as temLibNum,
                tem_lib_purse_id as temLibPurseId
        from team_liblog
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <insert id="addTeamLiblog" parameterType="cn.lanhuhebi.elderly_group.model.pojo.TeamLiblog">
        insert into team_liblog(
                    tem_lib_id,
                    tem_lib_type,
                    tem_lib_creaDate,
                    tem_lib_operator,
                    tem_lib_ept_id,
                    tem_lib_num,
                    tem_lib_purse_id)
        values(
                    #{temLibId},
                    #{temLibType},
                    #{temLibCreaDate},
                    #{temLibOperator},
                    #{temLibEptId},
                    #{temLibNum},
                    #{temLibPurseId})
    </insert>

    <update id="updateTeamLiblog" parameterType="cn.lanhuhebi.elderly_group.model.pojo.TeamLiblog">
        update team_liblog
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="temLibId != null and temLibId!=''">
                            tem_lib_id=#{temLibId},
                        </if>
                        <if test="temLibType != null and temLibType!=''">
                            tem_lib_type=#{temLibType},
                        </if>
                        <if test="temLibCreaDate != null and temLibCreaDate!=''">
                            tem_lib_creaDate=#{temLibCreaDate},
                        </if>
                        <if test="temLibOperator != null and temLibOperator!=''">
                            tem_lib_operator=#{temLibOperator},
                        </if>
                        <if test="temLibEptId != null and temLibEptId!=''">
                            tem_lib_ept_id=#{temLibEptId},
                        </if>
                        <if test="temLibNum != null and temLibNum!=''">
                            tem_lib_num=#{temLibNum},
                        </if>
                        <if test="temLibPurseId != null and temLibPurseId!=''">
                            tem_lib_purse_id=#{temLibPurseId}
                        </if>
        </trim>
    </update>

    <delete id="delTeamLiblogById" parameterType="String">
        delete from team_liblog where id = #{id}
    </delete>

</mapper>