<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanhuhebi.elderly_group.dao.TeamEptDao">

    <select id="getTeamEptById" resultType="cn.lanhuhebi.elderly_group.model.pojo.TeamEpt">
        select
                tem_ept_id as temEptId,
                tem_ept_type as temEptType,
                tem_ept_facty as temEptFacty,
                tem_ept_model as temEptModel,
                tem_ept_price as temEptPrice,
                tem_ept_stock as temEptStock,
                tem_ept_num as temEptNum
        from team_ept
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <insert id="addTeamEpt" parameterType="cn.lanhuhebi.elderly_group.model.pojo.TeamEpt">
        insert into team_ept(
                    tem_ept_id,
                    tem_ept_type,
                    tem_ept_facty,
                    tem_ept_model,
                    tem_ept_price,
                    tem_ept_stock,
                    tem_ept_num)
        values(
                    #{temEptId},
                    #{temEptType},
                    #{temEptFacty},
                    #{temEptModel},
                    #{temEptPrice},
                    #{temEptStock},
                    #{temEptNum})
    </insert>

    <update id="updateTeamEpt" parameterType="cn.lanhuhebi.elderly_group.model.pojo.TeamEpt">
        update team_ept
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="temEptId != null and temEptId!=''">
                            tem_ept_id=#{temEptId},
                        </if>
                        <if test="temEptType != null and temEptType!=''">
                            tem_ept_type=#{temEptType},
                        </if>
                        <if test="temEptFacty != null and temEptFacty!=''">
                            tem_ept_facty=#{temEptFacty},
                        </if>
                        <if test="temEptModel != null and temEptModel!=''">
                            tem_ept_model=#{temEptModel},
                        </if>
                        <if test="temEptPrice != null and temEptPrice!=''">
                            tem_ept_price=#{temEptPrice},
                        </if>
                        <if test="temEptStock != null and temEptStock!=''">
                            tem_ept_stock=#{temEptStock},
                        </if>
                        <if test="temEptNum != null and temEptNum!=''">
                            tem_ept_num=#{temEptNum}
                        </if>
        </trim>
    </update>

    <delete id="delTeamEptById" parameterType="String">
        delete from team_ept where id = #{id}
    </delete>

</mapper>